@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.dark {
  color-scheme: dark;
}

@layer base {
}

/* https://css-tricks.com/scrollbars-on-hover/ */
.content {
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 12px, black 12px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 12px, black 12px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.content:hover {
  -webkit-mask-position: left top;
  mask-position: left top;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #b6c4cf;
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--smokey-grey) var(--smokey-grey-background);
}

.dark
  .os-theme-dark
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  background: rgba(212, 212, 216, 0.2);
}

.dark
  .os-theme-dark
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover {
  background: rgba(212, 212, 216, 0.3);
}
